
.notas main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notas .title-page {
    font-size: 24px;
    color: dodgerblue;
}


/* Filtros */
.notas .acciones {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    justify-content: center;
    position: relative;
    margin-top: 40px;
}
.notas .acciones .volver-box {
    top: -35px;
    left: 0;
}

.notas .notas-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    min-width: 200px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

/* Buscador */
.notas .acciones input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.notas-buscador-section input:focus {
    border-color: #007bff;
    outline: none;
}

/* Tabla */
.notas-table-container {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subir-nota main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subir-nota .datos {
    margin-top: 30px;
    position: relative;
}
.subir-nota .volver-box{
    top: -35px;
    left: 0;
}
.subir-nota form{
    display: flex;
    flex-direction: row;
}
.subir-nota form label{
    text-align: center;
}
.subir-nota form input {
    padding: 8px;
    font-weight: bold;
    text-align: center;
}
.subir-nota .sub-title-page{
    margin-top: 20px;
}
.subir-nota .boxs {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.subir-nota .boxs .box {
    width: 200px;
    height: 130px;
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subir-nota .box p{
    text-align: center;
}