.principal {
    height: 100%;
    padding-top: 37px;
    padding-bottom: 100px;
    position: relative;
}
/* Estilos para Botones */
button {
    font-size: 16px;
    border: none; 
    cursor: pointer;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
}
button:hover{
    transform: scale(1.02);
}

/* Botón Guardar */
.btn-save {
    background-color: #37ae94;
    color: #FFFFFF; 
}

.btn-save:hover {
    background-color: #2b957e;
}

/* Botón Cancelar */
.btn-cancel {
    background-color: #6c757d;
    color: #FFFFFF;
}

.btn-cancel:hover {
    background-color: #5a6268;
}

/* Botón Borrar */
.btn-delete {
    background-color: #dc3545;
    color: #FFFFFF;
}

.btn-delete:hover {
    background-color: #c82333;
}

/* Botón Enviar/Confirmar */
.btn-submit {
    background-color: dodgerblue;
    color: #FFFFFF;
}
.btn-submit:hover {
    background-color: #0056b3; 
}
.msg-error {
    color: rgb(255, 59, 59);
    font-size: 14px;
    text-align: center;
    transition: .3s ease;
    margin: 0;
}


.title-page {
    text-transform: uppercase;
    text-align: center;
    font-size: large;
    font-family: 'poppins';
    color: black;
    margin: 0;
    margin-top: 10px;
}

.sub-title-page {
    text-align: center;
    font-size: large;
    font-family: 'poppins';
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.email{
    text-transform: lowercase;
}
.volver-link {
    position: absolute;
    z-index: 2;
    top: -35px;
    left: -93px;
    font-size: 14px;
    height: 27px;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
    background-color: rgba(30, 143, 255, 0.331);
    background-color: #37ae94a5;
}
.volver-link:hover {
    background-color: #37ae94e3;
}