.principal {
    height: 100%;
    padding-top: 37px;
    padding-bottom: 100px;
    position: relative;
}
/* Estilos para Botones */
button {
    font-size: 16px;
    border: none; 
    cursor: pointer;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
}
button:hover{
    transform: scale(1.02);
}

/* Botón Guardar */
.btn-save {
    background-color: #37ae94;
    color: #FFFFFF; 
}

.btn-save:hover {
    background-color: #2b957e;
}

/* Botón Cancelar */
.btn-cancel {
    background-color: #6c757d;
    color: #FFFFFF;
}

.btn-cancel:hover {
    background-color: #5a6268;
}

/* Botón Borrar */
.btn-delete {
    background-color: #dc3545;
    color: #FFFFFF;
}

.btn-delete:hover {
    background-color: #c82333;
}

/* Botón Enviar/Confirmar */
.btn-submit {
    background-color: dodgerblue;
    color: #FFFFFF;
}
.btn-submit:hover {
    background-color: #0056b3; 
}
.msg-error {
    color: rgb(255, 59, 59);
    font-size: 14px;
    text-align: center;
    transition: .3s ease;
    margin: 0;
}

.btn-reg {
    position: absolute;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 14px;
    color: white;
    border-radius: 8px;
    padding: 6px 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.474);
    z-index: 2;
}
.btn-reg .ico-reg {
    font-size: 17px;
}


.title-page {
    text-transform: uppercase;
    text-align: center;
    font-size: large;
    font-family: 'poppins';
    color: black;
    margin: 0;
    margin-top: 10px;
}

.sub-title-page {
    text-align: center;
    font-size: large;
    font-family: 'poppins';
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.volver-box {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
    background-color: rgb(236, 236, 236);
}
.volver-link {
    font-size: 14px;
    height: 27px;
    font-weight: bold;
    color: white;
    background-color: rgba(30, 143, 255, 0.331);
    background-color: #37ae94a5;
    display: flex;
}
.volver-link:hover {
    background-color: #37ae94e3;
}

/* STYLO DE TABLAS */
table {
    border-collapse: collapse
}
table th {
    font-size: 13px;
    font-weight: 550;
    /* background-color: rgb(108, 236, 153); */
    background-color: #3fd7b6bd;
    text-transform: uppercase;
    text-align: left;
    padding: 3px 5px;
}
table td {
    font-size: 12px;
    padding: 4px 5px;
    text-transform: uppercase;
}
table th, table td {
    border: #00886b solid 1px;
}

/* STYLO DE FORMULARIO */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form h2 {
    text-align: center;
}
form .form-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
form label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 100%;
}

form input, form select {
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    transition: .3s ease;
    text-transform: uppercase;
}
form select {
    text-transform: capitalize;
}
form input:focus {
    border-color: dodgerblue;
}
.email{
    text-transform: none;
}


