.subir-admision {
    display: flex;
    flex-direction: row;
    padding-bottom: 37px;
    position: relative;
}
.subir-admision main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.subir-admision main .accion{
    position: relative;
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.subir-admision .accion .volver-box {
    top: -35px;
}
.subir-admision main .contador {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.subir-admision .acciont {
    padding: 0;
    margin: 0;
}

.subir-admision .acciont div {
    margin: 0;
    padding: 0;
    display: flex;
}
.subir-admision .acciont .ico {
    font-size: 25px;
    width: 100%;
    margin: 0;
    cursor: pointer;
    transition: .3s ease;
}
.subir-admision .acciont .ico-edit {
    color: dodgerblue;
}
.subir-admision .acciont .ico-edit:hover {
    background-color: rgba(30, 143, 255, 0.25);
}
.subir-admision .acciont .ico-subir {
    color: #3dc641;
}
.subir-admision .acciont .ico-subir:hover {
    background-color: #3dc64243;
}




.subir-admision .form-admiPunto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 600;
    background-color: rgba(0, 0, 0, 0.644);
    overflow-y: auto;
    padding: 30px 0;
}
.subir-admision .form-admiPunto form {
    background-color: white;
    padding: 40px 30px;
    max-width: 580px;
    width: 100%;
    animation: fadeIn .5s ease ;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
}
.form-admiPunto .close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
    transition: .3s ease;
}
.form-admiPunto .close:hover{
    color: rgb(74, 74, 74);
}
.form-admiPunto form input {
    padding: 8px;
}
.form-admiPunto form .punto{
    text-align: center;
    font-weight: bold;
}
.form-admiPunto form .condi {
    font-weight: bold;
}
.form-admiPunto form .ingre {
    color: dodgerblue;
}
.form-admiPunto form .no-ingre {
    color: rgb(242, 57, 57);
}

.form-admiPunto .btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.form-admiPunto .btns button {
    width: 140px;
    height: 45px;
    border-radius: 7px;
}