.admins-list {
    position: relative;
}
.admins-list main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.admins-list .container-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.admins-list .acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    margin-top: 30px;
}
.admins-list .btn-reg {
    background-color: dodgerblue;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 115px;
    z-index: 1;
    right: 20px;
    border-radius: 5px;
    font-weight: bold;
}
.admins-list .btn-reg:hover{
    background-color: rgb(30, 121, 212);
    box-shadow: 0 0 3px dodgerblue, 0 0 3px dodgerblue;
    transform: scale(1.02);
}
.admins-list .btn-reg .ico {
    font-size: 20px;
}
.admins-list .acciones .filtro {
    height: 31px;
    color: black;
    font-weight: bold;
    padding: 0 7px;
    width: 120px;
    background-color: rgb(108, 236, 153);
    border-radius: 0;
    cursor: pointer;
}
.admins-list .acciones .filtro:focus{
    border: aquamarine solid 2px;
}
.admins-list .filtro option {
    border-radius: 0;
    cursor: pointer;
    background-color: white;
}
.admins-list .volver-link {
    top: -35px;
    left: -93px;
}
.admins-list .contador {
    margin-top: 10px;
    font-family: calibri;
    font-weight: bold;
}
.admins-list table {
    border: gray solid 1px;
    border-collapse: collapse;
    min-width: 700px;
}
.admins-list table th, .admins-list td {
    border: rgb(13, 107, 107) solid 1px;
    text-transform: uppercase;
}

.admins-list table th {
    font-size: 13px;
    font-weight: 550;
    /* background-color: rgb(108, 236, 153); */
    background-color: #37ae94bd;

    text-align: left;
    padding: 3px 5px;
}
.admins-list table td {
    font-size: 12px;
    padding: 4px 5px;
}
.admins-list table .accion {
    padding: 0;
}
.admins-list .accion div {
    display: flex;
}
.admins-list table .ico{
    font-size: 25px;
    border-radius: 50%;
    padding: 2px;
    margin: auto;
    /* border: solid 1px; */
    cursor: pointer;
}
.admins-list table .ico:hover {
    background-color: #ccc;
}
.admins-list .ico-edit{
    color: dodgerblue;
}
.admins-list .ico-bloq {
    color: rgb(255, 68, 68);
}
.admins-list .ico-acti{
    color: green;
}