.panel main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.panel main div {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.panel .aaa {
    /* background-color: rgba(127, 255, 212, 0.474); */
    /* background-color: #37ae946b; */
    background-color: rgba(30, 143, 255, 0.331);
    width: calc(300px - 20px);
    display: inline-block;
    height: 200px;
    border-radius: 8px;
    transition: .3s ease;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.395);
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panel .aaa:hover{
    background-color: #37ae946b;
    transform: scale(1.02);
    box-shadow: 0 0 5px #37ae94;
}
.panel .aaa button {
    position: absolute;
    bottom: 20px;
    background-color: #37ae946b;
    width: 120px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}
.panel .aaa:hover  button {
    background-color: rgba(30, 143, 255, 0.331);
}
.panel .aaa .ico {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
}