
/* ESTYLOS DE MODAL DE CONFIRMACION */
.modal-comfir {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 600;
    display: flex;
    background-color: rgba(0, 0, 0, 0.611);
    padding: 30px 10px;
    overflow-y: auto;
    animation: fadeIn .5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px) scale(0.1);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.modal-comfir .modal-contend {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px dodgerblue;
}
.modal-comfir p{
    text-align: center;
    color: black;
    font-weight: bold;
}
.modal-comfir .btns {
    display: flex;
    justify-content: space-evenly;
}
.modal-comfir .btns button {
    width: 100px;
    border-radius: 5px;
}
.modal-comfir button:hover{
    box-shadow: 0 0 5px;
}