
.perfil main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfil .datos {
    position: relative;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.perfil main .volver-box {
    top: -35px;
    left: 0;
}
.perfil .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #37ae94e3 solid 1px;
    position: relative;
}
.perfil .img img {
    width: 100%;
}
.perfil .img .dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    bottom: 20px;
    right: 12px;
}
.perfil form input {
    padding: 8px;
}